exportPattern("^[^\\.]")

##import(lme4)
#import(MASS)
##import(multcomp)
import(methods)
import(survival)
importFrom(MASS, ginv)
## importFrom(lme4, lmer, fixef)
## importFrom(pbkrtest, vcovAdj)
## importMethodsFrom(pbkrtest, vcovAdj)

importClassesFrom(Matrix, Matrix)
importFrom(Matrix, Matrix, sparseMatrix)
importMethodsFrom(Matrix, t, isSymmetric, "%*%", solve, diag)


